 *{
	 padding:0;
	 margin:0;
	 box-sizing: boarder-box;
 }
 body{
	 background-image: url(../img/bg.jpg);
	 background-size: cover;
	 background-position: ;
	 font-family: sans-serif;
	 background-repeat: no-repeat;
	 background-size: auto;
	
 }
 .logo{
	 width:65x;
	 height:65px;
	 margin-left:78px;
	 
 }
 .menu{
	 background: #242526;
	 text-align: left;
	 height:49px; 
	 position:fixed;
	 top:0;
	 width:100%;
 }

 .menu ul{
	 display: inline-flex;
	 list-style: none;
	 color: #fff;
 }
 .menu ul li{
	 width:120px;
	 padding:15px;
	 margin:15px;
	 margin-top:0px;
	 
 }
 .menu ul li a{
	 text-decoration: none;
	 color:#fff;
 }
 .active, .menu ul li:hover{
	 background: #616161;
	 border-radius: 3px;
 }
 .menu .fa {
	 margin-right: 8px;
 }
 .submen{
	 display: none;
 }
 .menu ul li:hover .submen{
	 display:block;
	 position:absolute;
	 background: #242526;
	 margin-top:15px;
	 margin-left: 15px;
 }
 .menu ul li:hover .submen ul {
	 display: block;
	 margin: 10px;
 }
 .menu ul li:hover .submen ul li{
	 width:100px;
	 padding:10px;
	 border-bottom: 1px dotted #fff;
	 background: transparent;
	 border-radius: 0;
	 text-align: left;
 }
 .menu ul li:hover .submen ul li:last-child{
	 border-bottom: none;
 }
  .menu ul li:hover .submen ul li a:hover{
	  color:#f0c330;
  }